.idea
node_modules
*/node_modules
*/dist
pnpm-lock.yaml
.editorconfig

/config/*/*.config.ts

/admin/stats.html
/admin/tsconfig.tsbuildinfo
/admin/dist.zip

/prisma-generated
/prisma-generated.zip
/prisma/migrations
/.env

/server/dist.zip
