.idea
node_modules
*/node_modules
*/dist
pnpm-lock.yaml
.editorconfig

/config/*/*.config.ts

/admin/stats.html
/admin/tsconfig.tsbuildinfo
/admin/dist.zip

/server/.env
/server/generated
/server/prisma/migrations
/server/dist.zip
/server/generated.zip

/packages/blog/tsconfig.tsbuildinfo
/packages/blog/dist
/packages/blog/dist.zip
