.idea
node_modules
*/node_modules
*/dist
pnpm-lock.yaml

/config/config/*.config.ts

/admin/stats.html
/admin/tsconfig.tsbuildinfo
/admin/dist.zip

/server/.env
/server/generated
/server/prisma/migrations
/server/dist.zip
/server/generated.zip
